In [ ]:
#1.Convert an integer to a Floating-point number
integer=10
floating_number=float(integer)
print(floating_number)
type(floating_number)

In [ ]:
#2. Convert a float to an interger
floating_number=4.5
integer=int(floating_number)
print(integer)
type(integer)

In [ ]:
#3. Convert an integer to a string
integer=5
string=str(integer)
print(string)
type(string)

In [ ]:
# 4. Convert a list to a tuple
List=[1,2,"a","a+bj","Pin2",True]
Tuple=tuple(List)
print(Tuple)
type(Tuple)

In [ ]:
# 5. Convert a tuple to a list
Tuple=(29,10,1985,"Pin2")
List=list(Tuple)
print(List)
type(List)

In [ ]:
# 6. Convert a decimal number to binary
Decimal_Number=7
Binary_Number=bin(Decimal_Number)
print(Binary_Number)
type(Binary_Number)

In [ ]:
# 7. Convert a non-zero number to boolean
Number=8
Boolean_Number=bool(Number)
print(Boolean_Number)
type(Boolean_Number)